:root {
    --primary-color: #055a05;
    --secondary-color: #EE0000;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia {
    display: flex;
}

.socialmedia img {
    width: 3rem;
    height: auto;
}

.hero {
    position: relative;
    margin: 10px;
    box-sizing: border-box;
    border: 1px solid black;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 40px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
}

h2 {
    text-align: center;
}

article {
    position: absolute;
    top: 100px;
    color: var(--secondary-color)
}

.hero article img {
    float: right;
    width: 125px;
    border-style: double;
    margin: 16px;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 10px;
    background-color: #d1c4e9;
    box-sizing: border-box;
    border: 1px solid black;
}

header img {
    width: 150px;
    height: auto;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

nav li {
    margin-left: 10px;
}

nav a {
    display: block;
    padding: 10px 20px;
    border: 1px solid black;
    text-decoration: none;
    color: #333;
    background-color: white;
}

.history-container {
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.history-container img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.history {
    box-sizing: border-box;
    border: 1px solid black;
}

.adventure-grid {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-top: 20px;
}

.adventure-grid figure {
    text-align: center;
    margin: 0;
}

.adventure-grid img {
    width: 100%;
    max-width: 150px;
    height: auto;
    background-color: #ccc;
}

.adventure-grid figcaption {
    font-size: 0.9rem;
    margin-top: 5px;
}

.adventures {
    box-sizing: border-box;
    border: 1px solid black;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #d1c4e9;
    box-sizing: border-box;
    border: 1px solid black;
}